body {
    background-image: url(hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    background-attachment: fixed;
}

.bg-light-green {
    background-color: #d0d269
}
.light-green {
    color: #d0d269
}
.green {
    color: #5c8326
}
.bg-green {
    background-color: #5c8326
}
.medium-green {
    color: #1d5113
}
.bg-medium-green {
    background-color: #1d5113
}
.dark-green {
    color: #07331b
}
.bg-brown {
    background-color: #8c4b37
}
.bg-brown-st {
    background-color: #8c4b377e
}
span {
    white-space: nowrap ;
  }
#index-card {
    background-color: #8c4b37e8;
    margin-top: 20%;
}
#index-btn:active, #index-btn:hover {
    background-color: #1d5113
}
#index-btn {
    background-color: #5c8326
}
.card-body[class*=bg-] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.rounded-corners-top[class*=bg-] {
    border-top-left-radius: var(--mdb-card-border-radius);
    border-top-right-radius: var(--mdb-card-border-radius);
}
.rounded-corners-bottom[class*=bg-] {
    border-bottom-left-radius: var(--mdb-card-border-radius);
    border-bottom-right-radius: var(--mdb-card-border-radius);
}
#menu-card {
    background-color: #8c4b37e8;
    margin-top: 5%;
}
#order-card {
    margin-top: 8%;
    padding-bottom: 4%;
}
#confirm-card {
    margin-top: 8%;
    padding-bottom: 4%;
}
/* background-attachment: fixed */