{% extends 'custapp/base.html' %}

{% block content %}
    <div class="container mb-5 mt-5">
        <div class="row pt-3 pb-5">
            <div class="card mt-5 px-0 ">
                <div class="card-body bg-brown rounded-corners-top">
                    <h1 class="card-title text-center light-green mb-0">About Us!</h1>
                </div>
                <div class="card-body bg-light-green rounded-corners-bottom">
                    <p class="card-text dark-green">Our company was founded with a simple yet powerful mission: to provide delicious, nutritious, and sustainable plant-based food options for everyone. We believe that everyone deserves access to healthy and ethically-produced food that doesn't harm animals or the environment.</p>
                    <p class="card-text dark-green">At the heart of our business is a deep commitment to sustainability. We source our ingredients from organic farms and work with local suppliers whenever possible to reduce our carbon footprint. We also use eco-friendly packaging and strive to minimize waste throughout our supply chain.</p>
                    <p class="card-text dark-green">Our product line is diverse and constantly evolving to meet the needs and preferences of our customers. From vegan meats and cheeses to plant-based milks and snacks, we offer a wide range of products that are both delicious and healthy. We are passionate about creating new and innovative products that push the boundaries of what's possible with plant-based ingredients.</p>
                    <p class="card-text dark-green">In addition to our commitment to sustainability and innovation, we are dedicated to building a strong and supportive community around our brand. We believe that everyone can benefit from a plant-based lifestyle, and we are committed to educating and inspiring others to make healthier, more sustainable choices.</p>
                    <p class="card-text dark-green">Thank you for considering our vegan food company, and we look forward to serving you soon!</p>
                </div>
            </div>
    </div>
{% endblock content %}