{% extends 'custapp/base.html' %}

{% block content %}
<div class="container mb-5" id="order-card">
    <div class="row justify-content-center mt-5">
        <div class="col-md-12 col-sm-12 pb-4 pt-3 mt-2 card bg-light-green">
            <form method="POST">
                {% csrf_token %}
                
                {% for wrap in wraps %}
                    <div class="row mt-1">
                        <div class="col-md-3 col-lg-2 col-sm-12 text-center">
                            <img class="rounded" src="{{ wrap.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <p class="font-weight-bold mb-0">{{ wrap.name }}</p>
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ wrap.pk }}">
                                    <label class="form-check-label">{{ wrap.price }}</label>
                                </div>
                            </div>
                            
                            <p>{{ wrap.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                
                {% for nibble in nibbles %}
                    <div class="row mt-4">
                        <div class="col-md-3 col-lg-2 col-sm-12 text-center">
                            <img class="rounded" src="{{ nibble.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <p class="font-weight-bold mb-0">{{ nibble.name }}</p>
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ nibble.pk }}">
                                    <label class="form-check-label">{{ nibble.price }}</label>
                                </div>
                                
                            </div>
                            <p>{{ nibble.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                
                    {% for soup in soups %}
                    <div class="row mt-4">
                        <div class="col-md-3 col-lg-2 col-sm-12 text-center">
                            <img class="rounded" src="{{ soup.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <p class="font-weight-bold mb-0">{{ soup.name }}</p>
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ soup.pk }}">
                                    <label class="form-check-label">{{ soup.price }}</label>
                                </div>
                            </div>
                            <p>{{ soup.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                
                    {% for drink in drinks %}
                    <div class="row mt-4">
                        <div class="col-md-3 col-lg-2 col-sm-12 text-center">
                            <img class="rounded" src="{{ drink.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <p class="font-weight-bold mb-0">{{ drink.name }}</p>
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                    <label class="form-check-label">{{ drink.price }}</label>
                                </div>
                                
                            </div>
                            <p>{{ drink.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Full Name</label>
                            <input required class="form-control" type="text" placeholder="Your Name" name="name">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="email">Email Address</label>
                            <input required class="form-control" type="text" placeholder="example@company.co.uk" name="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="street">Street</label>
                            <input required class="form-control" type="text" placeholder="King Street" name="street">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="city">City</label>
                            <input required class="form-control" type="text" placeholder="Chelsea" name="city">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="postcode">Post Code</label>
                            <input required class="form-control" type="text" placeholder="SW10 0AD" name="postcode">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-dark mt-5" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                    Submit Order!
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirm Your Order?</h5>
                                <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Go Back</button>
                                <button class="btn btn-dark" type="submit">Place Order!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}